@import url("variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--second-family);
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 40px 100px;
}

.gradient__wrapper {
  background:
    url(../img/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.header__container {
  justify-content: space-between;
  padding: 28px 40px 90px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.logo__title {
  font-family: var(--font-family);
  color: var(--color-primary);
  line-height: 1.1;
  letter-spacing: 0.06em;
  padding-bottom: 11px;
}

.menu__link,
.logo__subtitle {
  font-family: var(--second-family);
  font-size: 15px;
  color: #cdcdcd;
}

.logo__subtitle {
  font-size: 13px;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__link {
  user-select: none;
  transition: 0.3s ease;
}

.menu__item:first-child .menu__link {
  padding-bottom: 3px;
  cursor: default;
}

.menu__link--active {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
}

.not-only__container {
  display: flex;
  gap: 42px;
  min-height: 728px;
  padding: 0 40px;
}

.not-only__content {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  max-height: 322px;
  gap: 42px;
  padding-top: 163px;
}

.not-only__heading {
  font-size: 44px;
  line-height: 1.3;
  color: var(--color-light-xl);
}

.not-only__subheading {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-s);
}

.btn {
  display: inline-block;
  border-radius: 100px;
  padding: 15px 45px;
  width: 208px;
  height: 52px;
  background-color: var(--color-primary);
  font-size: 17px;
  color: var(--color-dark-3xl);
  transition: 0.3s ease;
}

.not-only__content .btn {
  font-weight: 400;
  font-family: var(--font-family);
  line-height: 1.3;
  letter-spacing: 0.06em;
}

.not-only__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 98px;
  gap: 120px;
}

.about__content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h3 {
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.about__text {
  font-family: var(--second-family);
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-dark-xl);
}

#our-friends {
  background-color: var(--color-light-l);
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 58px;
}

.our-friends__slider-wrapper {
  overflow: hidden;
}

.our-friends__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-friends__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  background-color: var(--color-light-l);
  transition: 0.3s ease;
}

.our-friends__slider-track {
  display: flex;
  gap: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  padding: 0 0 31px 0;
  border-radius: 9px;
  background: var(--color-light-s);
  cursor: pointer;
  transition-duration: 1s;
  flex-shrink: 0;
}

.card__name {
  font-size: 20px;
  font-family: var(--font-family);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

.card__button {
  width: 192px;
  border: 2px solid var(--color-primary);
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  background: var(--color-light-s);
  transition-duration: 1s;
}

.our-friends__btn-rest {
  width: 262px;
  font-family: var(--font-family);
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  transition: 0.3s ease;
}

.help__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
}

.help__list {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  max-width: 1200px;
}

.help__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  row-gap: 30px;
}

.help__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

#in-addition {
  background-color: var(--color-light-l);
}

.in-addition__container {
  display: flex;
  align-items: center;
  max-width: 915px;
  column-gap: 30px;
  padding: 80px 182px 100px;
}

.donation__content {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__bank-info {
  font-size: 15px;
  line-height: 16px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.donation__card-btn {
  padding: 10px 15px;
  border-radius: 9px;
  background: var(--color-primary);
  border: none;
  height: 43px;
  width: 349px;
  transition-duration: 1s;
  cursor: pointer;
}

.donation__card-btn a {
  display: flex;
}

.donation__card-number {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  padding-left: 15px;
}

.donation__legal {
  font-family: var(--second-family);
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
}

.footer {
  background:
    url(../img/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer__container {
  padding: 40px 40px 0;
  justify-content: space-between;
}

.footer__contacts {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 15px;
}

.footer__locations {
  max-width: 302px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 15px;
}

.footer__link {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.footer__title {
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-light-xl);
}


.footer__text {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 20px;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-light-s);
  }

  .menu__item {
    color: #e5e5e5;
  }

  .card:hover {
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
  }

  .card:hover .card__button {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  .footer__link:hover .footer__text {
    color: var(--color-light-s);
  }

  .btn:hover,
  .our-friends__arrow:hover,
  .donation__card-btn:hover {
    background-color: var(--color-primary-light);
    color: var(--color-dark-3xl);
  }
}
