@import url("variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--second-family);
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}
